<div class="container">
  <!-- MCPLA Officers -->
  <div class="mcpla-officers">
    <h2>MCPLA Officers</h2>
    <%= render "shared/officer_table", officers: @mcpla_officers %>
  </div>

  <!-- Browndeer Officers-->
  <div class="mcpla-officers">
    <h2>Browndeer Officers</h2>
    <%= render "shared/officer_table", officers: @browndeer_officers %>
  </div>

  <!-- Currie Officers-->
  <div class="mcpla-officers">
    <h2>Currie Officers</h2>
    <%= render "shared/officer_table", officers: @currie_officers %>
  </div>

  <!-- Dretzka Officers-->
  <div class="mcpla-officers">
    <h2>Dretzka Officers</h2>
    <%= render "shared/officer_table", officers: @dretzka_officers %>
  </div>

  <!-- Grant Officers -->
  <div class="mcpla-officers">
    <h2>Grant Officers</h2>
    <%= render "shared/officer_table", officers: @grant_officers %>
  </div>

  <!-- Greenfield Officers-->
  <div class="mcpla-officers">
    <h2>Greenfield Officers</h2>
    <%= render "shared/officer_table", officers: @greenfield_officers %>
  </div>

  <!-- Oakwood Officers-->
  <div class="mcpla-officers">
    <h2>Oakwood Officers</h2>
    <%= render "shared/officer_table", officers: @oakwood_officers %>
  </div>

  <!-- Whitnall Officers-->
  <div class="mcpla-officers">
    <h2>Whitnall Officers</h2>
    <%= render "shared/officer_table", officers: @whitnall_officers %>
  </div>


</div>

