  <div class="container">
  <!-- Officers -->
  <h2 id="officer-section" class="main-section-title">Add Officers<br>
    <%= link_to 'Add Officers', new_leader_path, class: 'btn btn-sm btn-success tee-time-btn admin-button' %>
  </h2>
  <hr class="medium-underline">

  <!-- MCPLA Officers -->
  <div class="mcpla-officers">
    <h2>MCPLA Officers</h2>
    <hr class="medium-underline">
    <%= render "shared/officer_table", officers: @mcpla_officers %>
  </div>

  <!-- Browndeer Officers-->
  <div class="mcpla-officers">
    <h2>Browndeer Officers</h2>
    <hr class="medium-underline">
    <%= render "shared/officer_table", officers: @browndeer_officers %>
  </div>

  <!-- Oakwood Officers-->
  <div class="mcpla-officers">
    <h2>Oakwood Officers</h2>
    <hr class="medium-underline">
    <%= render "shared/officer_table", officers: @oakwood_officers %>
  </div>

  <!-- Whitnall Officers-->
  <div class="mcpla-officers">
    <h2>Whitnall Officers</h2>
    <hr class="medium-underline">
    <%= render "shared/officer_table", officers: @whitnall_officers %>
  </div>

  <!-- Grant Officers -->
  <div class="mcpla-officers">
    <h2>Grant Officers</h2>
    <hr class="medium-underline">
    <%= render "shared/officer_table", officers: @grant_officers %>
  </div>

  <!-- Currie Officers-->
  <div class="mcpla-officers">
    <h2>Currie Officers</h2>
    <hr class="medium-underline">
    <%= render "shared/officer_table", officers: @currie_officers %>
  </div>

  <!-- Greenfield Officers-->
  <div class="mcpla-officers">
    <h2>Greenfield Officers</h2>
    <hr class="medium-underline">
    <%= render "shared/officer_table", officers: @greenfield_officers %>
  </div>
  </div>