<div class="container">
  <h2 class="main-section-title"><%= Date.today.year %> News & Updates</h2>
  <hr class="medium-underline">
  <% if current_user && current_user.admin? %>
    <div class="bottom-buffer">
      <%= link_to 'Add New News / Update', new_note_path, class: 'btn btn-md btn-primary btn-minutes link-button' %>
    </div>
  <% end %>
  <% if @notes.present? %>
    <p class="section-title event-title"><%= Date.today.year %> - News & Updates</p>
    <% @notes.each do |n| %>
      <div class="event-details">
        <p class="published-date"><b><%= n.published_date %></b></p>
        <p style="white-space: pre-wrap;"><%= n.note_update %></p>
        <% if n.event_pdf? %>
          <br>
          <span>
            <%= link_to n.event_pdf.url, target: '_blank' do %>
              <%= image_tag 'clipboard.png', class: 'event-icon' %>
            <% end %>
            <br>
          </span>
        <% end %>
        <span>
          <% if current_user && current_user.admin? %>
            <br>
            <%= link_to 'Edit', edit_note_path(n) %>
            &nbsp;&nbsp;
          <% end %>
          <br>
        </span>
        <br>
      </div>
    <% end %>
  <% end %>
  <div class="archives">
    <hr>
      <span>
        <%= link_to "View News And Update Archives", news_archive_path, class: 'btn btn-md btn-dark archive-btn' %>
      </span>
    </div>
</div>
