<div class="container">
  <div class="form-style-8 modal-xl">
    <h2 style="margin-left: -30px; margin-right: -30px;">Edit Tee Times!</h2>
    <%= simple_form_for @teetime do |f| %>
      <%= f.error_notification %>
      <div class="row">
          <div class="col-md-6">
            <%= f.input :date, required: true, input_html: {class: "datepicker"}, as: :string %><br>
          </div>
          <div class="col-md-6">
            <%= f.input :teetime_pdf, required: true %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.input :title, required: true %>
          </div>
        </div>
      <br />
      <%= f.submit 'Update', class: 'btn btn-primary' %>
      <button onclick="window.history.go(-1); return false;" value="Back" class="btn btn-md btn-danger cancel-btn">Cancel</button>
    <% end %>
  </div>
</div>
