<!-- Tee Times Section --> 

<div class="container">
  <h2 class="main-section-title">First & Second Team Tee Times</h2>
  <hr class="medium-underline">
  <% if current_user && current_user.admin? %>
  <div class="bottom-buffer">
    <%= link_to 'Add New Tee Time', new_teetime_path, class: 'btn btn-md btn-primary btn-minutes' %>
  </div>
  <% end %>
  <% if @teetimes.present? %>
  <%= link_to 'VIEW TEAM SCHEDULES', teams_path, class: 'btn btn-sm btn-success team-sched' %>
  <hr>
    <% @teetimes.each do |month, time| %>
      <% time.each do |t| %>
        <div class="event-details bottom-buffer">
            <p><b><%= t.teetime_date %></b></p>
            <p class="section-title event-title"><%= t.title %></p>
            <br>
            <span>
                <%= link_to t.teetime_pdf.url, target: '_blank' do %>
                <%= image_tag 'clipboard.png', class: 'event-icon' %>
                <% end %>&nbsp;&nbsp;
                <% if current_user && current_user.admin? %>
                <%= link_to 'Edit', edit_teetime_path(t) %>
                &nbsp;&nbsp;
                <%= link_to 'Delete', teetime_path(t), method: :delete, data: {confirm: 'Are you sure you want to delete this?'} %>
                <% end %>
              </span>
          <br>
        </div>
      <% end %>
    <% end %>
    <% else %>
    <p class="club-info-text">Check back for posted tee times!</p>
    <%= link_to 'VIEW TEAM SCHEDULES', teams_path, class: 'btn btn-sm btn-success team-sched' %>
  <% end %>

</div>