<div class="container">
    <div class="new events">
        <% @events.each do |year, event| %>
        <h4 class="section-title"><%= year %> Events</h4>
        <hr class="medium-underline">
        <% event.each do |e| %>
        <div>
            <p><%= link_to e.event_title, event_path(e) %> | <%= link_to 'Edit Event', edit_event_path(e), class: 'btn btn-xs btn-default' %></p>
        </div>
        <% end %>
        <% end %>
        <br>
        <p><%= link_to 'Add New Event', new_event_path, class: 'btn btn-xs btn-primary' %></p>
    </div>
    <hr>
    <div class="current-members top-buffer">
    <h4 class="section-title">Members Who Have Created Accounts</h4>
        <% @users.each.with_index do |user, index| %>
        <div class="each-user">
         <p><%= index + 1 %> - <%= user.first_name %>&nbsp;<%= user.last_name %> / <%= user.email %></p>
        </div>
        <% end %>
    </div>
</div>