<div class="container">
  <h2 class="main-section-title">Admin Portal<br>
    <%= link_to 'ADMIN WIKI PAGE', admin_wiki_path, class: 'btn btn-sm btn-success tee-time-btn admin-button' %>
  </h2>
  <hr class="medium-underline">
  <div class="new-events top-buffer bottom-buffer">
    <h3 class="main-section-title">
      Add New Event Button
    </h3>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary new-event admin-button" data-toggle="modal" data-target="#exampleModal">
      Add New Event
    </button>
  </div>
  <% @events.each do |e| %>
  <div class="row">
      <div class="col-md-10 col-sm-10 event-details">
        <p class="section-title event-title"><i><b><%= e.event_title %></b></i></p>
        <p><%= e.event_location %></p>
        <p><%= e.date %>
          <% if e.event_end_date.present? %>
            - <%= e.end_date %>
          <% end %>
        </p>
        <p><%= e.event_start_time %></p>
        <br>
        <p>Entry Fee -<br>
          MCPLA Members - $<%= e.event_cost_mcpla.round %><br>
          Non-MCPLA Members - $<%= e.event_cost_non_mcpla.round %><br>
          Season Pass Holders - $<%= e.event_cost_season_pass.round %></p>
        <% if e.event_cost_season_pass_browndeer %>
          <p>Season Pass Holders (With Browndeer) - $<%= e.event_cost_season_pass_browndeer.round %></p>
        <% end %>
        <p>Registrations: <%= e.total_registrations %></p>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <%= link_to 'Details', event_path(e), class: 'btn btn-success btn-md event-details admin-button' %>
        <%= link_to 'Edit', edit_event_path(e), class: 'btn btn-md btn-primary admin-button' %>
      </div>
    </div>
    <hr>
  <% end %>
  <div class="metrics top-buffer bottom-bffer">
    <h2 class="main-section-title">Metrics</h2>
    <hr class="medium-underline">
  </div>
  <div id="tabs" class="top-buffer">
    <ul>
      <li><a href="#tabs-2">Club Count</a></li>
      <li><a href="#tabs-3">Registrant Emails Per Event</a></li>
    </ul>
    <div id="tabs-2" class="clubs-tab event-details">
      <h3 class="section-title">Club Count</h3>
      <hr>
      <p>Currie Park: <%= User.where(:home_club => 'Currie Park').count %></p>
      <p>Dretzka Park: <%= User.where(:home_club => 'Dretzka Park').count %></p>
      <p>Grant Park: <%= User.where(:home_club =>  'Grant Park').count %></p>
      <p>Greenfield Park: <%= User.where(:home_club => 'Greenfield Park').count %></p>
      <p>Oakwood Park: <%= User.where(:home_club => 'Oakwood Park').count %></p>
      <p>Whitnall Park: <%= User.where(:home_club =>  'Whitnall Park').count %></p>
      <p>Browndeer Park: <%= User.where(:home_club => 'Browndeer Park').count %></p>
    </div>
    <div id="tabs-3" class="clubs-tab event-details">
      <h3 class="section-title">Registrant Emails Per Event</h3>
      <hr>
      <% @events.each do |e| %>
      <div style="margin-bottom: 8px;">
        <p><b><%= e.event_title %></b></p>
      </div>
      <% e.registrations.each do |r| %>
      <p style="display: inline;">
        <%= r.user.email %>, &nbsp;
      </p>
      <% end %>
      <hr>
      <% end %>
    </div>
  </div>

  <!-- Officers -->
  <h2 class="main-section-title">Add Officers<br>
    <%= link_to 'Add Officers', new_leader_path, class: 'btn btn-sm btn-success tee-time-btn admin-button' %>
  </h2>
  <hr class="medium-underline">

  <!-- MCPLA Officers -->
  <div class="mcpla-officers">
    <h2>MCPLA Officers</h2>
    <hr class="medium-underline">
    <%= render "shared/officer_table", officers: @mcpla_officers %>
  </div>

  <!-- Browndeer Officers-->
  <div class="mcpla-officers">
    <h2>Browndeer Officers</h2>
    <hr class="medium-underline">
    <%= render "shared/officer_table", officers: @browndeer_officers %>
  </div>

  <!-- Oakwood Officers-->
  <div class="mcpla-officers">
    <h2>Oakwood Officers</h2>
    <hr class="medium-underline">
    <%= render "shared/officer_table", officers: @oakwood_officers %>
  </div>

  <!-- Whitnall Officers-->
  <div class="mcpla-officers">
    <h2>Whitnall Officers</h2>
    <hr class="medium-underline">
    <%= render "shared/officer_table", officers: @whitnall_officers %>
  </div>

  <!-- Grant Officers -->
  <div class="mcpla-officers">
    <h2>Grant Officers</h2>
    <hr class="medium-underline">
    <%= render "shared/officer_table", officers: @grant_officers %>
  </div>

  <!-- Currie Officers-->
  <div class="mcpla-officers">
    <h2>Currie Officers</h2>
    <hr class="medium-underline">
    <%= render "shared/officer_table", officers: @currie_officers %>
  </div>

  <!-- Greenfield Officers-->
  <div class="mcpla-officers">
    <h2>Greenfield Officers</h2>
    <hr class="medium-underline">
    <%= render "shared/officer_table", officers: @greenfield_officers %>
  </div>
</div>
<!-- New Modal -->
<%= simple_form_for @event do |f| %>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl form-style-8" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h2 class="main-section-title">Add Event</h2>
          <%= f.error_notification %>
          <div class="row">
            <div class="col-md-6 field_with_errors">
              <%= f.input :event_title, required: true %><br>
            </div>
            <div class="col-md-6">
              <%= f.input :event_start_date, required: true, input_html: {class: "datepicker"}, as: :string %><br>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <%= f.input :event_end_date, required: false, input_html: {class: "datepicker"}, as: :string %><br>
            </div>
            <div class="col-md-6">
              <%= f.input :registration_close, required: true, input_html: {class: "datepicker"}, as: :string %><br>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <%= f.input :event_cost_mcpla, required: true %><br>
            </div>
            <div class="col-md-6">
              <%= f.input :event_cost_non_mcpla, required: true %><br>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <%= f.input :event_cost_season_pass, required: true %><br>
            </div>
            <div class="col-md-6">
              <%= f.input :event_location, required: true %><br>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <%= f.input :event_cost_season_pass_browndeer, required: true %><br>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <%= f.input :event_start_time, required: true, input_html: {class: "timepicker"} %><br>
            </div>
            <div class="col-md-6">
              <%= f.input :blue_golf_link, placeholder: 'ADD YOUR BLUEGOLF LINK HERE' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <%= f.label :is_partner_event do %>
                <%= f.check_box :is_partner_event, checked_value: true, unchecked_value: false %> <span class="labelText">Does this event require a partner?</span>
              <% end %>            </div>
          </div>
          <br />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit 'Create', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
