<div class="container">
  <h3 class="light-text">Member Clubs</h3> 
  <hr class="club-container">
     <div class="col-md-6 club-layout">
        <div id="browndeer">
            <p class="club-name">Browndeer Park Men's Club<a href="http://www.browndeergolfer.com" target="_blank"><%= image_tag 'computer.png', class: 'course-icon' %></a></p> 
        </div>
    </div>
    <div class="col-md-6 club-layout">
        <div id="currie">
            <p class="club-name">Currie Park Men's Club<a href="http://www.browndeergolfer.com" target="_blank"><%= image_tag 'computer.png', class: 'course-icon' %></a></p>
        </div>
    </div>
    <div class="col-md-6 club-layout">
        <div id="dretzka">
            <p class="club-name">Dretzka Park Men's Club<a href="http://www.browndeergolfer.com" target="_blank"><%= image_tag 'computer.png', class: 'course-icon' %></a></p>
        </div>
    </div>
     <div class="col-md-6 club-layout">
        <div id="grant">
            <p class="club-name">Grant Park Men's Club<a href="http://www.browndeergolfer.com" target="_blank"><%= image_tag 'computer.png', class: 'course-icon' %></a></p>
        </div>
    </div>
     <div class="col-md-6 club-layout">
        <div id="greenfield">
            <p class="club-name">Greenfield Park Men's Club<a href="http://www.browndeergolfer.com" target="_blank"><%= image_tag 'computer.png', class: 'course-icon' %></a></p>
        </div>
    </div>
       <div class="col-md-6 club-layout">
        <div id="oakwood">
            <p class="club-name">Oakwood Park Men's Club<a href="http://www.browndeergolfer.com" target="_blank"><%= image_tag 'computer.png', class: 'course-icon' %></a></p>
        </div>
    </div>
      <div class="col-md-6 club-layout">
        <div id="whitnall">
            <p class="club-name">Whitnall Park Men's Club<a href="http://www.browndeergolfer.com" target="_blank"><%= image_tag 'computer.png', class: 'course-icon' %></a></p>
        </div>
    </div>
</div>
