<div class="container">
  <h4 class="section-title">Our clubs</h4>
  <div class="row each-club">
    <div class="col-md-4">
        <div id="grant">
        <center>
            <%= image_tag 'g.png', class: 'img-responsive' %>
            <p>Grant Park Men's Club</p>
        </center>
        </div>
    </div>
    <div class="col-md-4">
        <div id="greenfield">
        <center>
            <%= image_tag 'g.png', class: 'img-responsive' %>
            <p>Greenfield Park Men's Club</p>
        </center>
        </div>
    </div>
    <div class="col-md-4">
        <div id="oakwood">
        <center>
            <%= image_tag 'o2.png', class: 'img-responsive' %>
            <p>Oakwood Park Men's Club</p>
        </center>
        </div>
    </div>
</div>
  <div class="row each-club">
    <div class="col-md-4">
        <div id="browndeer">
        <center>
            <%= image_tag 'b.png', class: 'img-responsive' %>
            <p>Browndeer Park Men's Club</p>
        </center>
        </div>
    </div>
    <div class="col-md-4">
        <div id="whitnall">
        <center>
            <%= image_tag 'w.png', class: 'img-responsive' %>
            <p>Whitnall Park Men's Club</p>
        </center>
        </div>
    </div>
    <div class="col-md-4">
        <div id="currie">
        <center>
            <%= image_tag 'c.png', class: 'img-responsive' %>
            <p>Currie Park Men's Club</p>
        </center>
        </div>
    </div>
</div>
  <div class="row each-club">
    <div class="col-md-4">
        <div id="dretzka">
        <center>
            <%= image_tag 'd.png', class: 'img-responsive' %>
            <p>Dretzka Park Men's Club</p>
        </center>
        </div>
    </div>
</div>
</div>
