<div class="container">
  <h3 class="main-section-title">Our History</h3>
  <hr class="club-container medium-underline">
    <div class="text-buffer">
      <p class="club-info-text">
        The Milwaukee County Public Links Association was founded in 1934 with the purpose of promoting golf in Milwaukee County through inter-club competition.</p>
      <p class="club-info-text">
        The Brown Deer, Currie, Grant, and Greenfield Golf Clubs formed the nucleus of the organization. The Whitnall, Dretzka and Oakwood Golf Clubs joined between 1953 and 1972.
      </p>
      <p class="club-info-text">
          Today, these seven clubs include almost one thousand golfers and provide their members with a varied calendar of competitions. Each club member is also a member of the Wisconsin Public Links Association and the Wisconsin State Golf Association.
      </p>
      <p class="club-info-text">
          The MCPLA acts as a liaison with Milwaukee County Department of Parks, Recreation and Culture on golf matters and coordinates the scheduling of each Club's events with the Office of Milwaukee County Parks. The MCPLA also provides free "Rules of Golf" seminars to both member and non-member groups and the Association has been the host for the United States Golf Association's Amateur Public Links Championships in 1951, 1967 and 1977 at Brown Deer Park.
      </p>
    </div>
  <h3 class="main-section-title">Member Clubs</h3>
  <hr class="club-container medium-underline">
  <div class="row top-buffer club-buffer">
    <div class="col-md-4 col-md-offset-2 club-layout">
      <p>Browndeer Park</p>
      <center>
        <%= link_to "http://www.browndeergolfer.com", target: "_blank" do %>
          <button class="btn btn-primary contact-button">Club Website</button>
        <% end %>
      </center>
    </div>
    <div class="col-md-4 club-layout">
      <p>Dretzka Park</p>
      <%= link_to "http://www.dretzkaparkmensclub.com", target: "_blank" do %>
        <button class="btn btn-primary contact-button">Club Website</button>
      <% end %>
    </center>
  </div>
</div>
<div class="row club-buffer">
  <div class="col-md-4 col-md-offset-2 club-layout">
    <p>Oakwood Park</p>
    <%= link_to "https://sites.google.com/view/oakwood-golf-club/home", target: "_blank" do %>
      <button class="btn btn-primary contact-button">Club Website</button>
    <% end %>
  </center>
</div>
<div class="col-md-4 club-layout">
  <p>Whitnall Park</p>
  <%= link_to "http://www.whitnallmensclub.com", target: "_blank" do %>
    <button class="btn btn-primary contact-button">Club Website</button>
  <% end %>
</center>
</div>
</div>
<div class="row club-buffer">
  <div class="col-md-4 col-md-offset-2 club-layout">
    <p>Grant Park</p>
    <%= link_to "http://www.gpmc.us", target: "_blank" do %>
      <button class="btn btn-primary contact-button">Club Website</button>
    </center>
  <% end %>
</div>
<div class="col-md-4 club-layout">
  <p>Greenfield Park</p>
  <%= link_to "http://brewerlou.wixsite.com/greenfieldparkgc", target: "_blank" do %>
    <button class="btn btn-primary contact-button">Club Website</button>
  <% end %>
</center>
</div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-2 club-layout">
    <p>Currie Park</p>
    <%= link_to "http://www.currieparkmensclub.com", target: "_blank" do %>
      <button class="btn btn-primary contact-button">Club Website</button>
    <% end %>
  </center>
</div>
</div>
</div>
