<div class="row hero-image">
  <center>
    <h2 id="fade1" class="fade-title top-buffer">Milwaukee County<br>
      Public Links Association</h2>
    <a href="#mcplawi-start">
      <button id="fade2" class="learn-more-button top-buffer">Learn More...</button>
    </a>
  </center>
</div>
<div  id="mcplawi-start" class="container">
  <div class="row-buffer">
    <p class="club-welcome-text">Welcome from the <br>
      MCPLA of Wisconsin!</p>
    <center>
      <p class="club-info-text top-buffer">We have a new look! Here's what you need to know!</p>
    </center>
  </div>
  <hr class="top-buffer">
  <div class="row row-buffer">
    <div class="col-md-6 bottom-buffer">
      <center>
        <%= image_tag 'user-4.png', class: 'main-icons' %>
      </center>
    </div>
    <div class="col-md-6">
      <p class="club-info-text"><%= link_to 'Create an account', new_user_registration_path %> and have quick access to register for any event posted by the Milwaukee County Public Links Association! Keep your profile up to date with your email address and home club!</p>
    </div>
  </div>
  <div class="row row-buffer">
    <div class="col-md-6 bottom-buffer">
      <center>
        <%= image_tag 'dollar.png', class: 'main-icons' %>
      </center>
    </div>
    <div class="col-md-6">
      <p class="club-info-text">Register and pay for the events online! Payments are easy as you can pay from the conveinence of your home or mobile phone! You will be emailed a receipt and a confirmation for your event registration.</p>
    </div>
  </div>
  <div class="row row-buffer">
    <div class="col-md-6 bottom-buffer">
      <center>
        <%= image_tag 'golf-ball.png', class: 'main-icons' %>
      </center>
    </div>
    <div class="col-md-6">
      <p class="club-info-text">Grab your sticks and get ready to tee it up in any of our events! Make sure you practice and then be sure to check back here as we post the results and the winners picture!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <center>
        <button class="btn btn-primary contact-button bottom-buffer">Contact Us</button>
      </center>
    </div>
  </div>
  <hr>
  <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
    <%= image_tag 'mcplawi.jpg', class: 'img-responsive main-logo' %>
  </div>
</div>
