<div class="container bottom-buffer">
  <h2 class="main-section-title">Current Officers</h2>
  <hr class="club-container medium-underline">
  <div class="top-buffer club-info-text">
    <div class="row">
      <div class="col-md-4 col-sm-4 officer-demographic">
        <h3 class="event-title titles">President</h3>
        <p>Richard Saks<br>
          414-331-4405<br>
          <span class="tooltip-1" title="rsaks@hq-law.com"><%= mail_to 'rsaks@hq-law.com' do %>
              <%= image_tag 'email.png', class: 'info-icons' %>
            <% end %></span>
        </p>
      </div>
      <div class="col-md-4 col-sm-4 officer-demographic">
        <h3 class="event-title titles">Vice President</h3>
        <p>Robert Cohn<br>
          262 512-2020<br>
          <span class="tooltip-1" title="racohn1846@gmail.com"><%= mail_to 'racohn1846@gmail.com' do %>
              <%= image_tag 'email.png', class: 'info-icons' %>
            <% end %></span></p>
      </div>
      <div class="col-md-4 col-sm-4 officer-demographic">
        <h3 class="event-title titles">Secretary</h3>
        <p>Brian Pederson<br>
          414-339-3738<br>
          <span class="tooltip-1" title="packers2003@sbcglobal.net"><%= mail_to 'packers2003@sbcglobal.net' do %>
              <%= image_tag 'email.png', class: 'info-icons' %>
            <% end %></span><br>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 officer-demographic">
        <h3 class="event-title titles">Treasurer</h3>
        <p>Ken Lauffer<br>
          571-5800<br>
          <span class="tooltip-1" title="ken.lauffer@hotmail.com"><%= mail_to 'ken.lauffer@hotmail.com' do %>
              <%= image_tag 'email.png', class: 'info-icons' %>
            <% end %></span><br>
        </p>
      </div>
      <div class="col-md-4 col-sm-4 officer-demographic">
        <h3 class="event-title titles">2nd Team Director</h3>
        <p>Brian Pederson<br>
          414-339-3738<br>
          <span class="tooltip-1" title="packers2003@sbcglobal.net"><%= mail_to 'packers2003@sbcglobal.net' do %>
              <%= image_tag 'email.png', class: 'info-icons' %>
            <% end %></span><br>
        </p>
      </div>
      <div class="col-md-4 col-sm-4 officer-demographic">
        <h3 class="event-title titles">NIMAGA Tournament Director</h3>
        <p>John Haeflinger<br>
          414-217-7247<br>
          <span class="tooltip-1" title="jmhaef@aol.com"><%= mail_to ' jmhaef@aol.com' do %>
              <%= image_tag 'email.png', class: 'info-icons' %>
            <% end %></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 officer-demographic">
        <h3 class="event-title titles">MCPLA Tournament Director</h3>
        <p>Robert Freuck<br>
          414-484-2152<br>
          <span class="tooltip-1" title="rfreuckjr@aol.com"><%= mail_to 'rfreuckjr@aol.com' do %>
              <%= image_tag 'email.png', class: 'info-icons' %>
            <% end %></span></p>
      </div>
      <div class="col-md-4 col-sm-4 officer-demographic">
        <h3 class="event-title titles">Past President</h3>
        <p>Arnold Walker<br>
          414-351-0189</p>
      </div>
      <div class="col-md-4 col-sm-4 officer-demographic">
        <h3 class="event-title titles">USGA Committeeman</h3>
        <p>Thomas Halla<br>
          262-367-2153<br>
          <span class="tooltip-1" title="thalla@waukeshacounty.gov"><%= mail_to 'thalla@waukeshacounty.gov' do %>
              <%= image_tag 'email.png', class: 'info-icons' %>
            <% end %></span></p>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container bottom-buffer">
  <div class="club-presidents top-buffer club-info-text">
    <h2 class="main-section-title">Club Presidents</h2>
    <hr class="club-container medium-underline">
    <div class="row">
      <div class="col-md-4 col-sm-4 officer-demographic">
        <h3 class="event-title titles">Browndeer</h3>
        <p>Brian Grossman<br>
          414-704-0264<br>
          <span class="tooltip-1" title="brian.grossman@gmail.com"><%= mail_to 'brian.grossman@gmail.com' do %>
              <%= image_tag 'email.png', class: 'info-icons' %>
            <% end %></span>
        </p>
      </div>
      <div class="col-md-4 col-sm-4 officer-demographic">
        <h3 class="event-title titles">Currie</h3>
        <p>Jeff Brandt<br>
          262-677-8521<br>
          <span class="tooltip-1" title="mcuthbejabrandt1@me.com"><%= mail_to 'mcuthbejabrandt1@me.com' do %>
              <%= image_tag 'email.png', class: 'info-icons' %>
            <% end %></span>
        </p>
      </div>
      <div class="col-md-4 col-sm-4 officer-demographic">
        <h3 class="event-title titles">Dretzka</h3>
        <p>Robert Lehninger<br>
          414-774-1036<br>
          <span class="tooltip-1" title="mlehninger@sbcglobal.net"><%= mail_to 'lehninger@sbcglobal.net' do %>
              <%= image_tag 'email.png', class: 'info-icons' %>
            <% end %></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 officer-demographic">
        <h3 class="event-title titles">Grant</h3>
        <p>Bob Bandkowski<br>
          414-421-0325<br>
          <span class="tooltip-1" title="bandkowskir@yahoo.com"><%= mail_to 'bandkowskir@yahoo.com' do %>
              <%= image_tag 'email.png', class: 'info-icons' %>
            <% end %></span>
        </p>
      </div>
      <div class="col-md-4 col-sm-4 officer-demographic">
        <h3 class="event-title titles">Greenfield</h3>
        <p>Steve Grusczynski<br>
          414-418-9234<br>
          <span class="tooltip-1" title="sgrusczynski@wi.rr.com"><%= mail_to 'sgrusczynski@wi.rr.com' do %>
              <%= image_tag 'email.png', class: 'info-icons' %>
            <% end %></span>
        </p>
      </div>
      <div class="col-md-4 col-sm-4 officer-demographic">
        <h3 class="event-title titles">Oakwood</h3>
        <p>Tim Nielson<br>
          414-305-7876<br>
          <span class="tooltip-1" title="tgngolf@gmail.com"><%= mail_to 'tgngolf@gmail.com' do %>
              <%= image_tag 'email.png', class: 'info-icons' %>
            <% end %></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 officer-demographic">
        <h3 class="event-title titles">Whitnall</h3>
        <p>Joel Kappes<br>
          262-853-8343<br>
          <span class="tooltip-1" title="joebirdie18@yahoo.com"><%= mail_to 'joebirdie18@yahoo.com' do %>
              <%= image_tag 'email.png', class: 'info-icons' %>
            <% end %></span>
        </p>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="club-treasurers top-buffer club-info-text">
    <h2 class="main-section-title">Club Treasurers</h2>
    <hr class="club-container medium-underline">
    <div class="row">
      <div class="col-md-4 col-sm-4 officer-demographic">
        <h3 class="event-title titles">Browndeer</h3>
        <p>Mike Kruck<br>
          414-491-7473<br>
          <span class="tooltip-1" title="Mikek5630@gmail.com"><%= mail_to 'Mikek5630@gmail.com' do %>
              <%= image_tag 'email.png', class: 'info-icons' %>
            <% end %></span>
        </p>
      </div>
      <div class="col-md-4 col-sm-4 officer-demographic">
        <h3 class="event-title titles">Currie</h3>
        <p>Brian Pederson<br>
          414-339-3738<br>
          <span class="tooltip-1" title="packers2003@sbcglobal.net"><%= mail_to 'packers2003@sbcglobal.net' do %>
              <%= image_tag 'email.png', class: 'info-icons' %>
            <% end %></span></p>
      </div>
      <div class="col-md-4 col-sm-4 officer-demographic">
        <h3 class="event-title titles">Dretzka</h3>
        <p>Jim Franke<br>
          262-547-9494<br>
          <span class="tooltip-1" title="jfranke2@wi.rr.com"><%= mail_to 'jfranke2@wi.rr.com' do %>
              <%= image_tag 'email.png', class: 'info-icons' %>
            <% end %></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 officer-demographic">
        <h3 class="event-title titles">Grant</h3>
        <p>Ken Lauffer<br>
          571-5800<br>
          <span class="tooltip-1" title="ken.lauffer@hotmail.com"><%= mail_to 'ken.lauffer@hotmail.com' do %>
              <%= image_tag 'email.png', class: 'info-icons' %>
            <% end %></span><br>
        </p>
      </div>
      <div class="col-md-4 col-sm-4 officer-demographic">
        <h3 class="event-title titles">Greenfield</h3>
        <p>Lou Luedtke<br>
          414-416-6457<br>
          <span class="tooltip-1" title="brewerlou@gmail.com"><%= mail_to 'brewerlou@gmail.com' do %>
            <%= image_tag 'email.png', class: 'info-icons' %>
          <% end %></span>
          </p>
      </div>
      <div class="col-md-4 col-sm-4 officer-demographic">
        <h3 class="event-title titles">Oakwood</h3>
        <p>Kurtis Beronja<br>
          414-425-5822<br>
          <span class="tooltip-1" title="kberonja@wi.rr.com"><%= mail_to 'kberonja@wi.rr.com' do %>
            <%= image_tag 'email.png', class: 'info-icons' %>
          <% end %></span>
          </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 officer-demographic">
        <h3 class="event-title titles">Whitnall</h3>
        <p>Rick Bartman<br>
          531-9833<br>
          <span class="tooltip-1" title="rickbartman2@gmail.com"><%= mail_to 'rickbartman2@gmail.com' do %>
            <%= image_tag 'email.png', class: 'info-icons' %>
          <% end %></span>
          </p>
      </div>
    </div>
  </div>
</div>
