<div class="container bottom-buffer">
  <h2 class="main-section-title">Current Officers</h2>
  <hr class="club-container medium-underline">
  <div class="top-buffer club-info-text">
    <div class="row">
      <%= render "shared/officer_display", officer: @mcpla_president %>
      <%= render "shared/officer_display", officer: @mcpla_vice_president %>
      <%= render "shared/officer_display", officer: @mcpla_secretary %>
    </div>
    <div class="row">
      <%= render "shared/officer_display", officer: @mcpla_treasurer %>
      <%= render "shared/officer_display", officer: @mcpla_second_team_director %>
      <%= render "shared/officer_display", officer: @mcpla_nimaga %>
    </div>
    <div class="row">
      <%= render "shared/officer_display", officer: @mcpla_tournament_director %>
      <%= render "shared/officer_display", officer: @mcpla_past_president %>
      <%= render "shared/officer_display", officer: @mcpla_committeeman %>
    </div>
  </div>
</div>
<hr>
<div class="container bottom-buffer">
  <div class="club-presidents top-buffer club-info-text">
    <h2 class="main-section-title">Club Presidents</h2>
    <hr class="club-container medium-underline">
    <div class="row">
      <%= render "shared/course_officer", officer: @browndeer_president %>
      <%= render "shared/course_officer", officer: @currie_president %>
      <%= render "shared/course_officer", officer: @dretzka_president %>
    </div>
    <div class="row">
      <%= render "shared/course_officer", officer: @grant_president %>
      <%= render "shared/course_officer", officer: @greenfield_president %>
      <%= render "shared/course_officer", officer: @oakwood_president %>
    </div>
    <div class="row">
      <%= render "shared/course_officer", officer: @whitnall_president %>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="club-treasurers top-buffer club-info-text">
    <h2 class="main-section-title">Club Treasurers</h2>
    <hr class="club-container medium-underline">
    <div class="row">
      <%= render "shared/course_officer", officer: @browndeer_treasurer %>
      <%= render "shared/course_officer", officer: @currie_treasurer %>
      <%= render "shared/course_officer", officer: @dretzka_treasurer %>
    </div>
    <div class="row">
      <%= render "shared/course_officer", officer: @grant_treasurer %>
      <%= render "shared/course_officer", officer: @greenfield_treasurer %>
      <%= render "shared/course_officer", officer: @oakwood_treasurer %>
    </div>
    <div class="row">
      <%= render "shared/course_officer", officer: @whitnall_treasurer %>
    </div>
  </div>
</div>

