<div class="container">
  <div class="player-table-text">
    <h2 class="main-section-title">Player List</h2>
    <hr class="medium-underline">
    <p class="club-info-text">
      Search for fellow MCPLA golfers!<br>Only players that have created a profile for this site are
      able to be searched.
    </p>
    <div class="top-buffer">
      <%= form_tag(players_path, method: :get) do %>
        <%= text_field_tag :term, params[:term] %>
        <%= submit_tag 'Search', last_name: nil %>
      <% end %>
      <p>Search by last name... (ex: anderson, jones, smith or partial last names - jo (jones) )</p>
      <br>
    </div>
    <div class="player-count top-buffer">
      <p>There are <%= @total_users %> total players who have created accounts here.</p>
    </div>
    <%= render "shared/player_list" %>
  </div>
</div>
