<div class="container">
  <div class="past-results history-buffer">
    <h2 class="main-section-title">Blue Golf Results</h2>
    <hr class="medium-underline">
  </div>
    <div class>
      <table class="bg-table">
        <thead>
          <tr>
            <th>Year</th>
            <th>Event</th>
            <th>Blue Golf Results</th>
          </tr>
        </thead>
        <% @events.each do |year, event| %>
          <tbody>
            <% event.each do |e| %>
            <% if e.blue_golf_link? %>
              <tr>
                <td><%= e.created_at.year %></td>
                <td><%= e.event_title %></td>
                <td><%= link_to "Blue Golf Results", e.blue_golf_link, target: '_blank' %></td>
              </tr>
              <% end %>
            <% end %>
          </tbody>
        <% end %>
      </table>
    </div>
  <div class="event-winners club-info-text">
      <h2 class="main-section-title" id="photo">Photo Gallery</h2>
      <hr class="medium-underline">
    <% @events.each do |year, event| %>
      <% event.each do |e| %>
        <% e.photos.each do |p| %>
        <% if p.winners_image.present? %>
          <div class="col-lg-6 col-md-6 col-sm-6 event-results-recap">
            <h4 class="main-section-title" style="margin-bottom: 3px;"><b><%= year %> - <%= e.event_title %></b></h4>
            <p>Flight: <%= p.which_flight %></p>
            <p>Winner: <i><%= p.flight_winner %></i></p>
            <p>Score: <%= p.winning_score %></p>
            <br>
              <%= image_tag p.winners_image, class: 'img-responsive' %>
          </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
</div>
</div>
