<div class="container">
  <div class="form-style-8">
    <h2 class="section-title" style="margin-left: -30px; margin-right: -30px;">Edit Profile</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <div class="field">
        <%= f.label :first_name %><br>
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first name" %>
      </div>
      <div class="field">
        <br>
        <%= f.label :last_name %><br>
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last name" %>
      </div>
      <div class="field">
        <br>
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        <br>
      </div>
      <div class="field">
        <br>
        <%= f.label :home_club %><br />
        <%= f.select :home_club, ['No Affiliation', 'Dretzka Park', 'Oakwood Park', 'Grant Park', 'Currie Park', 'Whitnall Park', 'Browndeer Park', 'Greenfield Park'] %>
      </div>
      <div class="field">
        <br>
        <%= f.label :membership_status %><br />
        <%= f.select :membership_status, ['MCPLA Member', 'Non-Member', 'Season Pass Holder', 'Season Pass Holder With Browndeer'] %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="field">
        <br>
        <p style="margin: 0;">Change your Password? Create a new password here!</p>
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
        <br>
      </div>
      <div class="field">
        <br>
        <%= f.label :current_password %> <i style="color: red;">(we need your current password to confirm your changes)<br />
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>
        <div class="actions">
          <br>
          <%= f.submit "Update" %>
        </div>
      <% end %>
    </div>
  </div>
