<p class="club-info-text">
  A new registration has been processsed!<br>
  Event: <%= @registered_event.event_title %><br>
  Player: <%= @event_registrant.first_name %>&nbsp;<%= @event_registrant.last_name %><br>
  Club: <%= @users_club %><br>
  <% if @registered_event.is_partner_event %>
  Partner: <%= @player_partner %><br>
  <% end %>
  Membership Status: <%= @event_registrant.membership_status %><br>
  Registration Fee: $<%= @event_fee %> has been paid.<br>
</p>

<p>Any discrepencies? Please contact the registrant directly.</p>

Regards,<br>
<i>MCPLAWI Admin Notifications</i>