<p>Hello!</p>
<p class="club-info-text">
  A registration has been added for a MCPLAWI event, the <%= @registered_event.event_title %>.<br>
  Player: <%= @event_registrant.first_name %>&nbsp;<%= @event_registrant.last_name %>
  Club: <%= @users_club %>
  Registration Fee: $<b><%= @event_fee %></b> has been paid.<br>
</p>

Regards,<br>
<i>MCPLAWI Admin Notifications</i>