<div class="player-table">
  <div>
    <% if @event.registrations.count > 0 %>
      <table id="registrations" class="registrations-table">
        <thead>
          <tr>
            <th>Players</th>
            <th>Home Club</th>
          </tr>
        </thead>
        <% @ordered_registrations = @event.registrations.ordered_by_user_name %>
        <% @ordered_registrations.each.with_index do |event, index| %>
          <tbody>
            <tr>
              <% if event.event.is_partner_event? %>
              <td><%= event.user.first_name %>&nbsp;<%= event.user.last_name %> 
                <% if event.user.has_partner_for_event(event.event) %>
                <span class="tooltip-1" title="<%= event.user.first_name %>&nbsp;<%= event.user.last_name %> is playing with <%= event.user.registered_partner(event) %>"><%= image_tag 'verified.png', class: 'icon-tiny' %></span>
                <% end %>
              </td>
              <% else %>
              <td><%= event.user.first_name %>&nbsp;<%= event.user.last_name %></td>
              <% end %>
              <td><%= event.user.home_club %></td>
            </tr>
          </tbody>
        <% end %>
      <% else %>
        <p>No registrations at this time!</p>
      <% end %>
    </table>
  </div>
</div>

<script>
  function showEventPartner(partner) {
    alert(partner);
  }
</script>
