<div class="container">
  <div class="form-style-8 modal-xl">
    <h2 class="main-section-title" style="margin-left: -30px; margin-right: -30px;">Edit Event</h2>
    <%= simple_form_for @event do |f| %>
      <%= f.error_notification %>
      <div class="row">
        <div class="col-md-6">
          <%= f.input :event_title, required: true %><br>
        </div>
        <div class="col-md-6">
          <%= f.input :event_start_date, required: true, input_html: {class: "datepicker"}, as: :string %><br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= f.input :event_end_date, required: false, input_html: {class: "datepicker"}, as: :string %><br>
        </div>
        <div class="col-md-6">
          <%= f.input :registration_close, required: true, input_html: {class: "datepicker"}, as: :string %><br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= f.input :event_cost_mcpla, required: true %><br>
        </div>
        <div class="col-md-6">
          <%= f.input :event_cost_non_mcpla, required: true %><br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= f.input :event_cost_season_pass, required: true %><br>
        </div>
        <div class="col-md-6">
          <%= f.input :event_location, required: true %><br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= f.input :event_start_time, required: true, input_html: {class: "timepicker"}, as: :string %><br>
        </div>
        <div class="col-md-6">
          <%= f.input :blue_golf_link, required: true, placeholder: 'https://wsga.bluegolf.com/bluegolf/wsga18/event/wsga1869/index.htm' %><br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= f.input :event_winner, required: false %>
        </div>
        <div class="col-md-6">
          <%= f.input :winners_picture, required: false %><br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= f.input :image_caption, required: false %>
        </div>
      </div>
      <br />
      <%= f.submit 'Update', class: 'btn btn-primary submit' %>
    <% end %>
  </div>
</div>
