<div class="container">
  <h4 class="main-section-title">Events Page</h4>
  <hr class="long-underline">
  <% if @events.present? %>
    <% @events.each do |year, event| %>
      <% event.each do |e| %>
        <div class="event-details">
          <p class="section-title event-title"><%= year %> <%= e.event_title %></p>
          <p>Course: <%= e.event_location %></p>
          <p>Date: <%= e.date %></p>
          <p>Cost: $<%= e.event_cost.round %></p>
          <p>Time: <%= e.event_start_time %></p>
          <br>
          <div class="blue-golf">
            <% if current_user && current_user.registered_in?(e) %>
              <span class="tooltip-1" title="You are registered!"><%= image_tag 'checking.png', class: 'event-icon registered-icon' %></span>
            <% end %>
            <%= link_to 'Event Info', event_path(e), class: 'btn btn-md btn-primary event-info-button' %>
            <% if e.blue_golf_link.present? %>
              <%= link_to "Blue Golf Page", e.blue_golf_link, :target => "_blank", class: 'btn btn-md btn-info' %>
            <% end %>
          </div>
        </div>
        <hr>
      <% end %>
    <% end %>
  <% else %>
    <div class="event-details">
      <p>Check back for our events!</p>
    </div>
  <% end %>
</div>
