<div class="container">
    <% @events.each do |year, event| %>
    <h4 class="section-title big-year"><%= year %></h4>
    <hr class="short-underline">
    <% event.each do |e| %>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <p class="section-title"><%= e.event_title %></p>
        <p>Course: <%= e.event_location %></p>
        <p>Date: <%= e.event_date %></p>
        <p>Cost: $<%= e.event_cost.round %></p>
        <p>Time: <%= e.event_start_time %></p>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 registration-area">
        <% if current_user && current_user.registered_in?(e) %>
        <span><%= link_to 'Event Info', event_path(e), class: 'btn btn-xs btn-primary' %><mark class="registered"><i>You are registered!</i></mark></span>
        <% else %>
        <%= link_to 'Event Info', event_path(e), class: 'btn btn-xs btn-primary' %>
        <% end %> 
      </div>
    </div>
    <hr>
    <% end %>
    <% end %>
</div>