<div class="container">
  <h2 class="main-section-title"><%= Date.today.year %> MCPLA Tournament Schedule</h2>
  <hr class="medium-underline">
  <% if @events.present? %>
    <% @events.each do |e| %>
        <div class="event-details">
          <p class="section-title event-title"><%= e.event_title %></p>
          <p><%= e.event_location %></p>
          <p><%= e.date %>
            <% if e.event_end_date.present? %>
              - <%= e.end_date %>
            <% end %>
          </p>
          <p><%= e.event_start_time %></p><br>
          <p>Entry Fee -<br>MCPLA Members - $<%= e.event_cost_mcpla.round %><br>
            Non-MCPLA Members - $<%= e.event_cost_non_mcpla.round %><br>
            Season Pass Holders - $<%= e.event_cost_season_pass.round %></p>
            <% if e.event_cost_season_pass_browndeer %>
            <p>Season Pass Holders (With Browndeer) - $<%= e.event_cost_season_pass_browndeer.round %></p>
            <% end %>
          <br>
          <% if e.registration_close and Date.today > e.registration_close %>
          <p class="reg-closes-date">Registration Closed!</p>
        <% else %>
            <p class="reg-closes-date">Registration Closes - <%= e.reg_closes %></p>
        <% end %>
          <br>
          <div class="blue-golf">
            <% if current_user && current_user.registered_in?(e) %>
              <span class="tooltip-1" title="You are registered!"><%= image_tag 'checking.png', class: 'event-icon registered-icon' %></span>
            <% end %>
           <span style="letter-spacing: 1.5px;"><%= link_to 'Event Info', event_path(e), class: 'btn btn-md btn-primary link-button' %></span>
            <% if e.blue_golf_link.present? %>
              <%= link_to "Blue Golf Page", e.blue_golf_link, :target => "_blank", class: 'btn btn-md btn-info link-button' %>
            <% end %>
          </div>
        </div>
        <hr>
      <% end %>
  <% else %>
    <div class="event-details">
      <p>Check back for our events!</p>
    </div>
  <% end %>
</div>
