<div class="container">
    <% @events.each do |year, event| %>
    <h4 class="main-section-title"><%= year %></h4>
    <hr class="short-underline">
    <% event.each do |e| %>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6 event-details">
        <p class="section-title"><%= e.event_title %></p>
        <p>Course: <%= e.event_location %></p>
        <p>Date: <%= e.date %></p>
        <p>Cost: $<%= e.event_cost.round %></p>
        <p>Time: <%= e.event_start_time %></p>
        <br>
        <% if current_user && current_user.registered_in?(e) %>
        <div class="registered">
        <mark class="registered"><i>You are registered!</i></mark>
        </div>
        <% end %> 
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 registration-area">
        <%= link_to 'Event Info', event_path(e), class: 'btn btn-md btn-primary' %>
            <% if e.blue_golf_link.present? %>
        <%= link_to "Blue Golf Tournament Page", e.blue_golf_link, :target => "_blank", class: 'btn btn-md btn-warning' %>
        <% end %>
      </div>
    </div>
    <hr>
    <% end %>
    <% end %>
</div>