<div class="container">
    <h4>New Event Form!</h4>
    <%= simple_form_for @event do |f| %>
       <%= f.error_notification %>
        <%= f.input :event_title, required: true, placeholder: 'Event Title' %>
        <%= f.input :event_start_date, required: true, input_html: {class: "datepicker"}, as: :string, placeholder: 'Event Date' %>
        <%= f.input :registration_close, required: true, input_html: {class: "datepicker"}, as: :string, placeholder: 'Registration Closes' %>
        <%= f.input :event_cost, required: true, placeholder: 'Event Cost' %>
        <%= f.input :event_location, required: true, placeholder: 'Event Location' %>
        <%= f.input :event_start_time, required: true, input_html: {class: "timepicker"}, as: :string, placeholder: 'Event Starting Time' %>
        <%= f.input :blue_golf_link, required: true, placeholder: 'Blue Golf Link' %>
      <br />
      <%= f.submit 'Create', class: 'btn btn-primary' %>
    <% end %>
</div>