<div class="container">
  <!-- Main Event Info -->
  <div class="event-main-info">
    <%= render "shared/main_event_info" %>
  </div>

  <!-- Partner Notification -->
  <% if user_signed_in? %>
  <div class="partner-info">
    <% if @event.registration_close and Date.today < @event.registration_close %>
    <% if @event.is_partner_event? %>
    <div>
      <h2 class="main-section-title">Partner Info</h2>
      <hr class="medium-underline">

      <% if current_user.has_partner_for_event(@event) %>
      <div>
        <p class="partner-alert">
          Partner: <%= current_user.event_partner(@event) %>
        </p>
      </div>
        <% else %> 
      <div>
        <p class="partner-alert">This event requires a partner!</p>
        <%= link_to 'Add a Partner', new_event_partner_path(@event), class: 'btn btn-primary btn-md partner-btn bottom-buffer link-button' %>
      </div>
      <% end %>
    </div>
      <% end %>
    <% end %>
  </div>
  <% end %>

  <!-- Register Actions-->
  <div class="register-actions">
    <%= render "shared/register_actions" %>
  </div>

  <%= render "shared/hr" %>
  
  <!-- Registrations Info -->
  <div class="registration-section">
    <%= render "shared/registrations" %>
  </div>

  <%= render "shared/hr" %>

  <!-- Results -->
  <div class="results-section top-buffer">
    <%= render "shared/results" %>
  </div>

  <div>
    <%= render "shared/hr" %>
  </div>

  <!-- Admin Section -->
  <div class="admin-button-section top-buffer" style="clear: both;">
    <% if user_signed_in? && current_user.admin? %>
      <div class="bg-buffer event-page-btn">
        <h2 class="event-section-title">Admin Section</h2>
        <%= link_to 'Add Flight Winners', new_event_photo_path(@event), class: 'btn btn-primary btn-md link-button' %>
      </div>
    <% end %>
  </div>
</div>


