<div class="container">
  <!-- Main Event Info -->
  <div class="event-main-info">
    <%= render "shared/main_event_info" %>
  </div>

  <!-- Partner Notification -->
  <div class="partner-info">
    <!-- Add Parnter info here-->
  </div>

  <!-- Register Actions-->
  <div class="register-actions">
    <%= render "shared/register_actions" %>
  </div>
  
  <!-- Registrations Info -->
  <div class="registration-section">
    <%= render "shared/registrations" %>
  </div>

  <!-- Results -->
  <div class="results-section top-buffer">
    <%= render "shared/results" %>
  </div>

  <div>
    <%= render "shared/hr" %>
  </div>

  <!-- Admin Section -->
  <div class="admin-button-section top-buffer" style="clear: both;">
    <% if user_signed_in? && current_user.admin? %>
      <div class="bg-buffer event-page-btn">
        <h2 class="event-section-title">Admin Section</h2>
        <%= link_to 'Add Flight Winners', new_event_photo_path(@event), class: 'btn btn-primary btn-md link-button' %>
      </div>
    <% end %>
  </div>
</div>


