<div class="container">
  <div class="event-details">
      <h3 class="section-title"><%= @event.event_title %></h3>
          <p>Course: <%= @event.event_location %></p>
          <p>Date: <%= @event.date %></p>
          <p>Cost: $<%= @event.event_cost.round %></p>
          <p>Time: <%= @event.time %></p>
      <% if current_user && current_user.registered_in?(@event) %>
      <i><p><mark>You are Registered!</mark></p></i>
      <% else %>
      <%= link_to 'Register',event_registrations_path(@event), class: 'btn btn-primary btn-md register', method: :post %>
      <% end %> 
  </div>
    <hr>
    <div class="event-results">
        <% if @event.winners_picture.present? %>
        <%= image_tag @event.winners_picture %>
        <% if @event.image_caption.present? %>
        <p><%= @event.image_caption %></p>
        <% end %>
        <% end %>
    </div>
    <hr>
    <div class="registrations">
      <h4 class="section-title">Event Participants (<%= @event.total_registrations %>)</h4>
      <br>
      <% @event.registrations.each.with_index do |r, index| %>
      <div>
         <span><%= index + 1 %>- &nbsp;&nbsp</span><i><span><%= r.user.first_name %>&nbsp;<%= r.user.last_name %></span></i>
      </div>
      <% end %>
    </div> 
</div>