<div class="container">
  <div class="event-details">
    <h3 class="event-section-title"><%= @event.year %> <%= @event.event_title %></h3>
    <p>Course: <%= @event.event_location %></p>
    <p>Date: <%= @event.date %></p>
    <p>Cost: $<%= @event.event_cost.round %></p>
    <p>Time: <%= @event.event_start_time %></p>
    <p>Registration Closes: <%= @event.reg_closes %></p>
    <div class="top-buffer">
      <% if @event.blue_golf_link.present? %>
        <%= link_to "Blue Golf Page", @event.blue_golf_link, :target => "_blank", class: 'btn btn-md btn-info blue_golf_link' %>
      <% end %>
      <% if current_user && current_user.registered_in?(@event) %>
        <p>
          <br>
          <mark class="show-reg"><i>You are registered!</i></mark>
        </p>
      <% else %>
        <% if @event.registration_close and Date.today > @event.registration_close %>
          <button disabled="true" class="btn btn-danger btn-md">Registration Closed</button>
        <% else %>
          <%= link_to 'Register',event_registrations_path(@event), class: 'btn btn-primary btn-md register', method: :post %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row-buffer">
    <div id="event-tabs" class="event-details">
      <ul>
        <li><a href="#tabs-8">Participants</a></li>
        <li><a href="#tabs-9">Results</a></li>
      </ul>
      <div id="tabs-8">
        <h4 class="section-title">Participants</h4>
        <hr class="short-underline">
        <% @event.registrations.each.with_index do |event, index| %>
          <div>
            <span><%= index + 1 %>- &nbsp;&nbsp;</span><i><span><%= event.user.first_name %>&nbsp;<%= event.user.last_name %></span></i>
          </div>
        <% end %>
      </div>
      <div id="tabs-9">
        <% if @event.winners_picture.present? %>
          <div class="winners-picture">
            <p>Winner: <%= @event.event_winner %></p>
            <br>
            <%= image_tag @event.winners_picture, class: 'img-responsive' %>
          </div>
        <% else %>
          <h4 class="section-title">Check back later for results!</h4>
        <% end %>
        <% if @event.image_caption.present? %>
          <p><%= @event.image_caption %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
