<div class="container">
  <h2 class="main-section-title">Meeting Minutes</h2>
  <hr class="medium-underline">
  <% if current_user && current_user.admin? %>
  <div class="bottom-buffer">
    <%= link_to 'Add New Meeting Minutes', new_minute_path, class: 'btn btn-md btn-primary btn-minutes link-button' %>
  </div>
  <% end %>
  <% if @minutes.present? %>
    <% @minutes.each do |year, minute| %>
    <p class="section-title event-title"><%= Date.today.year %> - Meeting Minutes</p>
      <% minute.each do |m| %>
        <div class="col-lg-6 col-md-6 col-sm-6 event-details" style="margin-bottom: 50px;">
          <p class="section-title event-title"><i><b><%= m.title %></b></i></p>
          <p><%= m.minutes_date %></p>
          <br>
          <span>
            <%= link_to m.pdf_file.url, target: '_blank' do %>
            <%= image_tag 'pdf.png', class: 'event-icon' %>
            <% end %>&nbsp;&nbsp;
            <% if current_user && current_user.admin? %>
            <%= link_to 'Edit', edit_minute_path(m) %>
            &nbsp;&nbsp;
            <%= link_to 'Delete', minute_path(m), method: :delete, data: {confirm: 'Are you sure you want to delete this?'} %>
            <% end %>
          </span>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
