<div class="container">
  <h4 class="main-section-title">My Profile</h4>
  <hr class="medium-underline">
  <div class="user-profile-image">
    <center>
      <%= image_tag 'user.png', class: 'img-responsive user-image'%>
    </center>
  </div>
  <div class="row">
    <div class="profile-info profile col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <center>
        <h4 class="section-title">Profile Information</h4>
      </center>
      <p><i><%= current_user.first_name %>&nbsp;<%= current_user.last_name %></i></p>
      <p><i><%= current_user.home_club %></i></p>
      <p><i><%= current_user.email %></i></p>
      <hr>
      <center>
        <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-md btn-primary edit-profile' %>
      </center>
      <br>
      <br>
    </div>
  </div>
  <div class="event-details">
    <div>
      <h4 class="main-section-title">MCPLAWI Events</h4>
      <hr class="medium-underline">
      <% if @event.present? %>
        <% @event.each do |event| %>
          <div>
            <p class="section-title event-title"><%= event.event_title %></p>
            <i>
              <p>Course: <%= event.event_location %></p>
            </i>
            <i>
              <p>Date: <%= event.date %></p>
            </i>
            <i>
              <p>Cost: $<%= event.event_cost.round %></p>
            </i>
            <i>
              <p>Time: <%= event.event_start_time %></p>
            </i>
            <br>
            <% if current_user && current_user.registered_in?(event) %>
              <span>
                <%= link_to event_path(event) do %>
                  <%= image_tag 'info.png', class: 'event-icon' %>
                <% end %>
                &nbsp;&nbsp;&nbsp;<span class="tooltip-1" title="You are registered!"><%= image_tag 'checking.png', class: 'event-icon' %></span></span>
            <% else %>
              <%= link_to event_path(event) do %>
                <%= image_tag 'info.png', class: 'event-icon' %>
              <% end %>
            </div>
          <% end %>
          <hr>
        <% end %>
      <% else %>
        <div class="event-details">
          <p>Check back for our events!</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>
