<div class="container">
  <div class="row top-buffer">
    <div class="form-style-8 profile-info profile col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <center>
        <h2 class="section-title">My Profile Information</h2>
      </center>
      <div class="row">
        <div class="col-md-6">
          <p><b>Name:</b></p>
        </div>
        <div class="col-md-6">
          <p><%= current_user.first_name %>&nbsp;<%= current_user.last_name %></i></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p><b>Home Club:</b></p>
      </div>
      <div class="col-md-6">
        <p><%= current_user.home_club %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p><b>Email:</b></p>
      </div>
      <div class="col-md-6">
        <p><%= current_user.email %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p><b>Membership:</b><br><i>This determines your pricing!</i></p>
      </div>
      <div class="col-md-6">
        <p><%= current_user.membership_status %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p><b>My Partner (2 Man Events Only):</b></p>
      </div>
      <div class="col-md-6">
          <% if current_user.partner.present? %>
          <p><%= current_user.partner.first_name %> <%=current_user.partner.last_name %> 
            <%= link_to edit_partner_path(current_user.partner) do %>
            <%= image_tag 'pencil.png', class: 'info-icons' %>
            <% end %>
            <%= link_to partner_path(current_user.partner), method: :delete, data: {confirm: 'Are you sure you want to remove your partner?'} do %>
            <%= image_tag 'x-mark.png', class: 'info-icons' %>
            <% end %>
          </p>
          <% else %>
          <p>Add a partner 
            <%= link_to new_partner_path do %>
            <%= image_tag 'add.png', class: 'add-icon' %>
            <% end %>
          </p>
          <% end %>
      </div>
    </div>
    <hr>
    <%= link_to edit_user_registration_path do %>
      <button>
        Edit Profile
      </button>
    <% end %>
    <br>
    <br>
  </div>
</div>
<div class="event-details">
  <div>
    <h2 class="main-section-title">Tournament Schedule</h2>
    <hr class="medium-underline">
    <% if @events.present? %>
      <% @events.each do |year, event| %>
        <% event.each do |e| %>
          <div class="top-buffer">
            <p class="section-title event-title"><%= year %> <%= e.event_title %></p>
            <p><%= e.event_location %></p>
            <p><%= e.date %>
              <% if e.event_end_date.present? %>
                - <%= e.end_date %>
              <% end %></p>
            <p><%= e.event_start_time %></p><br>
            <p>Entry Fee-<br>
              MCPLA Members - $<%= e.event_cost_mcpla.round %><br>
              Non-MCPLA Members - $<%= e.event_cost_non_mcpla.round %><br>
              Season Pass Holders - $<%= e.event_cost_season_pass.round %></p><br>
            <div>
                <% if e.is_partner_event? %>
                <%= render "shared/partner" %>
                <% end %>
                <br>
            </div>
            <% if current_user && current_user.registered_in?(e) %>
              <span>
                <%= link_to event_path(e) do %>
                  <%= image_tag 'info.png', class: 'event-icon' %>
                <% end %>
                &nbsp;&nbsp;&nbsp;<span class="tooltip-1" title="You are registered!"><%= image_tag 'checking.png', class: 'event-icon' %></span></span>
            <% else %>
              <%= link_to event_path(e) do %>
                <%= image_tag 'info.png', class: 'event-icon' %>
              <% end %>
            </div>
          <% end %>
          <hr>
        <% end %>
      <% end %>
    <% else %>
      <div class="event-details">
        <p>Check back for our events!</p>
      </div>
    <% end %>
  </div>
</div>
</div>
</div>
</div>
</div>
